section.checkout {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    button,
    input[type=submit] {
        margin: 0 auto;
        background-color: $darkPink;
        display: block;
        padding: 15px 25px;
        color: white;
        border: 2px solid $darkPink;
        transition: 0.1s;
        text-transform: capitalize;
        &:hover {
            color: $darkPink;
            background-color: white;
            transition: 0.1s;
        }
    }
    .link {
        margin: 0;
        border: none;
        background-color: rgba(0,0,0,0);
        color: $darkPink;
        padding: 0;
        &:hover {
            background-color: rgba(0,0,0,0);
            text-decoration: underline;
        }
    }
    h1 {
        font-size: 50px;
    }
}

section.delivery,
section.payment,
section.order-summary {
    width: 50%;
    margin: 0 auto;
    background-color: #f6f6f6;
    .row {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .heading-tab {
        width: 100%;
        background-color: #e7e7e7;
        padding: 35px;
    }
    
    .main-content {
        padding: 0 35px 35px;;
    }
    .summary {
        padding: 25px;
        background-color: white;
        border: 1px solid #f6f6f6;
    }
    .bold {
        font-weight: 500;
        font-size: 20px;
    }
}


section.delivery {
    p {
        margin: 3px 0;
    }
    form.select-address-radios {
        margin-top: 40px;
        .text-container {
            font-size: 24px;
            margin: 20px 0 0 30px;
            p {
                margin: 5px 0;
                font-size: 18px;
            }
        }
        // radio buttons
        input[type=radio] {
            height: auto;
            width: auto;
            margin-right: 15px;
            position: relative;
            cursor: pointer;
            &.checked {
                &:after {
                    display: block;
                }
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: white;
                border-radius: 50%;
                border: 2px solid $black;
                width: 100%;
                height: 100%;
            }
            &:after {
                content: '';
                position: absolute;
                top: 5px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $darkPink;
                border-radius: 50%;
                width: 60%;
                height: 60%;
                display: none;
            }
        }
        label {
            display: flex;
            margin-bottom: 5px;
        }
    }
    button {
        margin: 20px 0 0 0;
    }
    input[type=submit] {
        width: auto;
        margin: 0;
    }
    .radio-section {
        padding: 20px;
        background: #f0f0f0;
        margin-bottom: 10px;
    }
    .new-address {
        margin-top: -15px;
        padding: 0 50px 20px;
    }
}

section.order-summary {
    text-align: left;
    .row {
        margin: 3px 0;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px 40px;
    }
    .text-right {
        color: $black;
        font-weight: 500;
        font-size: 18px;
        min-width: 160px;
    }
    .delivery-window {
        margin-top: 40px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #e7e7e7;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before {
            top: -30px;
        }
        .subtext {
            font-size: 12px;
            color: darkgrey;
        }
    }
    .order-total {
        margin: 60px 0 80px;
        position: relative;
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #e7e7e7;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before {
            top: -40px;
        }
        &:after {
            bottom: -40px;
        }
    }
    .buttons-container {
        justify-content: flex-start;
        button {
            margin: 0 20px 0 0;
        }
    }
    .challah-selections {
        justify-content: flex-start;
        p {
            margin: 5px 10px 5px 0;
        }
    }
}