body {
    padding: 0;
}
section.coming-soon {
    background-color: white;
    text-align: center;
    height: 100vh;
    width: 100%;
    color: $darkPink;
    position: relative;
    img {
        width: 400px;
    }
    h1 {
        padding: 80px 50px 40px;
        font-size: 50px;
    }
    h2 {
        font-size: 35px;
        padding: 25px 0 35px;
    }
    .pink-box {
        position: absolute;
        background-color: $darkPink;
        @media (max-width: 480px) {
            display: none;
        }
    }

    .top, .bottom {
        height: 2px;
        width: 100%;
    }
    .top {
        top: 30px;
    }
    .bottom {
        bottom: 30px;
    }
    .left, .right {
        width: 2px;
        height: 100%;
        top: 0;
    }
    .left {
        left: 30px;
    }
    .right {
        right: 30px;
    }
}