section.contact-us {
    h1 {
        text-align: center;
        font-size: 50px;
        margin-bottom: 15px;
    }
    form {
        max-width: 500px;
        margin: 0 auto;
        input {
            margin-bottom: 15px;
            padding-left: 15px;
        }
        input[type=textarea] {
            padding: 25px 0 200px 15px;
        }
    }
}