.form-tracker {
    position: fixed;
    left: 20px;
    bottom: 20px;
    .tracking-container {
        display: flex;
        margin: 30px 0;
        position: relative;
    }
    .tracking-circle {
        height: 10px;
        width: 10px;
        background-color: $darkPink;
        border: 1px solid $darkPink;
        border-radius: 50%;
        position: relative;
        margin-top: 4px;
    }
    .tracking-vertical-line {
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $darkPink;
        width: 2px;
        height: 100px;
    }
    .tracking-text-container {
        margin-left: 15px;
        text-align: left;
        .tracking-selection {
            margin-left: 5px;
        }
    }
    .tracking-horizontal-line {
        position: absolute;
        background-color: $darkPink;
        height: 2px;
        width: 10px;
        left: 3px;
        top: 43px;
    }
}