header {
    margin-bottom: 40px;
}

.header-logo img {
    width: 250px;
    display: block;
    margin: 0 auto;
}

.header-nav ul {
    list-style: none;
    color: #3D3C3A;
    text-transform: uppercase;
    width: 284px;
    margin: 0 auto;
    li {
        float: left;
        margin: 0 20px;
        font-size: 15px;
        letter-spacing: 1px;
    }
}

.nav-right {
    float: right;
    button, a {
        color: #3D3C3A;
        padding: 5px 10px;
        margin-top: -7px;
        background-color: white;
        border: none;
        text-decoration: none;
    }
    
    .login-button {
        border: 2px solid $darkPink;
        border-radius: 2px;
        margin-right: 40px;
        &:hover {
            background-color: $darkPink;
            color: white;
        }
    }
}
