section.order-summary {
    text-align: center;
    h1 {
        font-size: 50px;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        // max-width: 271px;
        margin: 0 auto;
    }
    .row {
        margin: 20px auto;
    }
    .text-left {
        width: 200px;
        text-align: center;
    }
    .text-right {
        color: $black;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
    }
    button {
        margin: 0 auto;
        background-color: $darkPink;
        min-width: 360px;
        display: block;
        padding: 10px 0;
        color: white;
        text-transform: uppercase;
        border: 2px solid $darkPink;
        transition: 0.1s;
        &:hover {
            color: $darkPink;
            background-color: white;
            transition: 0.1s;
        }
    }
}