.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.section-wrapper {
    min-height: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        position: absolute;
        margin: 0 auto;
        top: -200px;
        @media (min-width: 1000px) {
            top: -350px;
        }
        @media (min-width: 1280px) {
            top: -450px;
        }
        @media(min-width: 1400px) {
            top: -550px;
        }
    }
}

p.section-text {
    color: #fff;
    position: relative;
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}
.section-text-container {
    width: 90px;
}
p.section-text:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 102%;
    height: 1px;
    background-color: #fff;
}

.section-two,
.section-four,
.section-six {
    display: flex;
    margin-top: 40px;
    .left, .right{
        width: 50%;
    }
    .right p {
        letter-spacing: 1px;
        line-height: 35px;
        font-weight: 300;
    }
    .left {
        padding-left: 50px;
    }
    .right {
        padding-right: 50px;
    }
}

.section-three {
    .challah-box {
        width: 380px;
        height: 380px;
        background-color: #FBE5EE;
        img {
            width: 100%;
            height: 100%;
            display: block;
        
        }
    }
}
.section-four {
    h1 {
        margin-top: 38px;
    }
}

.section-five {
    margin: 150px auto 110px;
    padding: 0 100px;
    h1 {
        font-size: 48px;
    }
    .small-text {
        font-size: 24px;
        margin-top: 25px;
    }
}

@media(max-width:800px) {
    .section-two,
    .section-four,
    .section-six {
        flex-direction: column;
        align-items: center;
    }
    .right p {
        font-size: 14px;
    }
    .left h1 {
        font-size: 45px;
        text-align: center;
    }
    .section-six .left,
    .section-four .left,
    .section-two .left {
        padding-left: 0;
        padding-bottom: 20px;
        width: 90%;
    }
    .section-six .right,
    .section-four .right,
    .section-two .right {
        padding-right: 0;
        padding-bottom: 20px;
        width: 100%;
        padding: 0 35px;
    }
    .section-five  {
        margin: 50px 0;
        h1 {
            font-size: 45px;
            padding: 0 35px;
        }
    }
}
.mobile-show {
    display: none;
}

@media(max-width: 900px) {
    .section-three {
        flex-direction: column;
        align-items: center;
    }
    .mobile-hide {
        display: none;
    }
    .mobile-show {
        display: block;
        img {
            width: 350px;
            margin: 0 auto;
            display: block;
        }
    }
    .desktop-hide {
        display: none;
    }
}


.section-three {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    .box {
        width: calc(33vw - 60px);
        height: calc(33vw - 60px);
        margin: 30px;
    }
    .box1 {
        background-color: rgb(239, 192, 202);
    }
    .box2 {
        background-color: rgb(166,209,173);
    }
    .box3 {
        background-color: rgb(140,204,232);
    }
}

.section-five {
    text-align: center;
}

footer {
    padding: 50px 0;
    .footer-nav {
        ul {
        display: flex;
        justify-content: center;
         list-style: none;
            li {
            margin: 10px;
            }   
        }
    }
}