.section-one {
    // padding: 0 20px;
}

.section-wrapper {
    background-color: $lightPink;
    height: 300px;
    width: 100%;
    // margin: 0 20px;
}


p.section-text {
    color: #fff;
    position: relative;
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}
.section-text-container {
    width: 90px;
}
p.section-text:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 102%;
    height: 1px;
    background-color: #fff;
}

.section-two,
.section-four,
.section-six {
    display: flex;
    margin-top: 40px;
    .left, .right{
        width: 50%;
    }
    .right p {
        letter-spacing: 1px;
        line-height: 35px;
        font-weight: 300;
    }
    .left {
        padding-left: 50px;
    }
    .right {
        padding-right: 50px;
    }
}

.section-three {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    .box {
        width: calc(33vw - 60px);
        height: calc(33vw - 60px);
        margin: 30px;
    }
    .box1 {
        background-color: rgb(239, 192, 202);
    }
    .box2 {
        background-color: rgb(166,209,173);
    }
    .box3 {
        background-color: rgb(140,204,232);
    }
}

.section-five {
    text-align: center;
}

footer {
    padding: 50px 0;
    .footer-nav {
        ul {
        display: flex;
        justify-content: center;
         list-style: none;
            li {
            margin: 10px;
            }   
        }
    }
}