.shop {
    text-align: center;
    &.wrapper-large {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    h1 {
        font-size: 40px;
        margin: 30px auto;
    }
    h2 {
        font-weight: 400;
        font-size: 30px;
    }
    .text-container {
        text-align: center;
    }

    .challah-row {
        display: flex;
        justify-content: center;
    }

    .challah-container {
        height: 350px;
        width: 350px;
        background-color: white;
        box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
        position: relative;
        &:hover {
            box-shadow: 0 4px 15px 0 rgba(253,165,193, 1); 
            & > button {
                color: $darkPink;
                background-color: white;
                transition: 0.1s;
            }
        }
    }

    .challah-number {
        &:first-of-type {
            margin-right: 50px;
        }
        &:last-of-type {
            margin-left: 50px;
        }
        &:hover {
            box-shadow: 0 4px 15px 0 rgba(253,165,193, 1); 
            & > button {
                color: $darkPink;
                background-color: white;
                transition: 0.1s;
            }
        }
    }

    .challah-type {
        &:nth-of-type(2) {
            margin: 0 50px;
        }
    }

    .delivery-time {
        width: 100px;
        height: 100px;
        margin: 0 10px;
    }

    button {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $darkPink;
        width: 45%;
        display: block;
        padding: 10px 0;
        border: none;
        color: white;
        text-transform: uppercase;
        border: 2px solid $darkPink;
        transition: 0.1s;
        &:hover {
            color: $darkPink;
            background-color: white;
            transition: 0.1s;
        }
    }

    .selected {
        box-shadow: 0 4px 15px 0 rgba(253,165,193, 1); 
    }

    .vh {
        height: 100vh;
    }

    .change-selection {
        position: relative;
        bottom: 0;
    }
    
    .begin-now {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        display: none;
    }
    .begin-button {
        // position: relative;
        // left: none;
        // transform: translateX(0);
    }
    

}