.shop {
    text-align: center;
    position: relative;
    &.wrapper-large {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    h1 {
        font-size: 35px;
        margin: 30px auto;
    }
    h2 {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 40px;
    }
    p {
        margin-bottom: 20px;
    }
    .text-container {
        text-align: center;
    }

    .challah-row {
        display: flex;
        justify-content: center;
    }

    .challah-container {
        background-image: url(../img/Shop_Raisin.jpg);
        background-repeat: no-repeat;
        min-height: 350px;
        min-width: 270px;
        background-position: center 100px;
        background-size: 80%;
        background-color: #f7e5ed;
        box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
        position: relative;
        padding: 0 15px;
        button {
            background-color: #f7e5ed;
            color: $black;
            border: none;
            &:hover {
                outline: 1px solid $black;
                background-color: #f7e5ed;
                color: $black;
            }
        }
        &:hover {
            box-shadow: 0 4px 15px 0 rgba(253,165,193, 1); 
            & > button {
                color: $darkPink;
                background-color: white;
                transition: 0.1s;
            }
        }
        a {
            text-decoration: none;
        }
    }

    #firstFreshChallahType .challah-container {
        background-position-x: -50px;
    }

    .challah-number {
        &:first-of-type {
            margin-right: 50px;
        }
        &:last-of-type {
            margin-left: 50px;
        }
        &:hover {
            box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
            & > button {
                color: $darkPink;
                background-color: white;
                transition: 0.1s;
            }
        }
    }

    .challah-type {
        &:nth-of-type(2) {
            margin-left: 50px;
        }
    }

    #firstFreshChallahType .challah-type,
    #secondFreshChallahType .challah-type,
    #firstFrozenChallahType .challah-type, 
    #secondFrozenChallahType .challah-type {
        background-position: center 95px;
        &:nth-of-type(1) {
            margin-right: 25px;
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
            margin: 0 25px;
        }
        &:nth-of-type(4) {
            margin-left: 25px;
        }
    }

    

    .delivery-time {
        max-width: 100px;
        max-height: 100px;
        min-height: auto;
        min-width: auto;
        margin: 0 10px;
        padding: 20px 15px 0;
        position: relative;
        background-image: none;
        p {
            font-size: 14px;
            text-transform: uppercase;
        }
        &:hover {
            box-shadow: 0 4px 15px 0 rgba(253,165,193, 1); 
        }
        &:hover > button {
            background-color: rgba(0,0,0,0);
            color: $black;
            outline: none;
        }
        button {
            font-size: 14px;
            top: 47px;
            &:hover {
                background-color: rgba(0,0,0,0);
                color: $black;
                outline: none;
            }
        }
        // &:before {
        //     content: '';
        //     position: absolute;
        //     height: 1px;
        //     width: 100%;
        //     top: 20px;
        //     left: 0;
        //     background-color: $black;
        //     transform: rotate(45deg);
        // }
    }

    button {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $darkPink;
        width: 55%;
        display: block;
        padding: 10px 0;
        color: white;
        text-transform: uppercase;
        border: 2px solid $darkPink;
        transition: 0.1s;
        &:hover {
            color: $darkPink;
            background-color: white;
            transition: 0.1s;
        }
        &.disabled {
            background-color: #cfcfcf;
            border: 2px solid #cfcfcf;
            color: white;
            position: relative;
            &:hover > .hover-note {
                display: block;
                position: absolute;
                top: -45px;
                left: 0;
                padding: 15px 10px;
                background-color: $darkPink;
                color: white;
                :after {
                    content: '';
                    width: 0; 
                    height: 0; 
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid $darkPink;
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                }
                p {
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }
            & > .hover-note {
                display: none;
            }
        }
    }
    
    button.back-to-top {
        position: fixed;
        bottom: 40px;
        right: 0;
        left: auto;
        width: 60px;
        height: 50px;
    }

    .selected {
        box-shadow: 0 4px 15px 0 rgba(253,165,193, 1); 
    }

    .vh {
        height: 90vh;
        padding-top: 10vh;
    }

    .change-selection {
        position: relative;
        bottom: 0;
    }
    
    .begin-now {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        display: none;
    }
    .begin-button {
        // position: relative;
        // left: none;
        // transform: translateX(0);
    }
    

}