.shop {
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .text-container {
        text-align: center;
        h2 {
            font-weight: 400;
            font-size: 30px;
        }
    }

    .challah-row {
        display: flex;
        justify-content: center;
    }

    .challah-number {
        height: 350px;
        // padding-top: 300px;
        width: 350px;
        background-color: white;
        box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
        position: relative;
        &:first-of-type {
            margin-right: 50px;
        }
        &:last-of-type {
            margin-left: 50px;
        }
        &:hover {
            // box-shadow: 0 4px 15px 0 rgba(253,165,193, 1); 
            & > button {
                color: $darkPink;
                background-color: white;
                transition: 0.1s;
            }
        }
    }

    button {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $darkPink;
        width: 90%;
        display: block;
        padding: 10px 0;
        border: none;
        color: white;
        text-transform: uppercase;
        border: 2px solid $darkPink;
        transition: 0.1s;
        &:hover {
            color: $darkPink;
            background-color: white;
            transition: 0.1s;
        }
    }

    .selected {
        box-shadow: 0 4px 15px 0 rgba(253,165,193, 1); 
    }

    .vh {
        height: 100vh;
    }
    
    

}