article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

$font: 'Rubik', sans-serif;

h1, h2, h3, h4, h5, h6, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
    padding: 0 20px;
}

header {
    margin-bottom: 40px;
}

.header-logo img {
    width: 250px;
    display: block;
    margin: 0 auto;
}

.header-nav ul {
    display: flex;
    list-style: none;
    color: #3D3C3A;
    text-transform: uppercase;
    justify-content: space-around;

}
    
.wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.section-one {
    background-color: #E0C6C7;
    height: 200px;
    width: 100%;
}

h1 {
    font-family: $font;
    font-weight: 300;
    font-size: 80px;
}

h2 {
    font-size: 18px;
    font-weight: 300;
}

li {
    font-size: 15px;
    letter-spacing: 1px;
}

p.section-text {
    color: #fff;
    position: relative;
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}
.section-text-container {
    width: 90px;
}
p.section-text:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 102%;
    height: 1px;
    background-color: #fff;
}

.section-two,
.section-four,
.section-six {
    display: flex;
    margin-top: 40px;
    .left, .right{
        width: 50%;
    }
    .right p {
        letter-spacing: 1px;
        line-height: 35px;
        font-weight: 300;
    }
    .left {
        padding-left: 50px;
    }
    .right {
        padding-right: 50px;
    }
}

.section-three {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    .box {
        width: calc(33vw - 60px);
        height: calc(33vw - 60px);
        margin: 30px;
    }
    .box1 {
        background-color: rgb(239, 192, 202);
    }
    .box2 {
        background-color: rgb(166,209,173);
    }
    .box3 {
        background-color: rgb(140,204,232);
    }
}

.section-five {
    text-align: center;
}

footer {
    padding: 50px 0;
    .footer-nav {
        ul {
        display: flex;
        justify-content: center;
         list-style: none;
            li {
            margin: 10px;
            }   
        }
    }
}