// Variables
$font: 'Rubik', sans-serif;
$lightPink: rgb(239, 192, 202);
$darkPink: #FDA5C1;
$black: #31322b;

h1, h2, h3, h4, h5, h6, ul, li, a, p {
    margin: 0;
    padding: 0;
    color: $black;
}

@import 'setup';
@import 'header';
@import 'modals';
@import 'sections';
@import 'shop';
@import 'formTracker';
@import 'checkout';
@import 'accountInfo';



// General Styles



body {
    font-family: $font;
    padding: 0 20px;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: $font;
    font-weight: 300;
    font-size: 80px;
}

h2 {
    font-size: 18px;
    font-weight: 300;
}

#stop-scroll {
    padding: 0;
    height: 100%;
    overflow: hidden;
}

@import 'comingsoon';

